<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- #region Bootstrap (import) -->
        <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <!-- #endregion -->
        <!-- #region Webpage Icon -->
        <link rel="shortcut icon" type="image/svg" th:href="@{/images/pet_shop_favicon.svg}">
        <!-- #endregion -->
        <!-- region Import CSS -->
        <link rel="stylesheet"  type="text/css" th:href="@{/css/estilos.css}" />
    </head>

    <body>
        <!-- #region Header -->
        <div th:fragment="header">
            <header>
                <!-- #region Navbar -->
                <div>
                    <nav>
                        <div>
                            <h1>Bienvenidos a la Página Web del Grupo 44</h1>
                            <a th:href="@{/index}">
                                <img src="https://cdn.pixabay.com/photo/2022/09/24/19/47/dog-7477112_1280.png"
                                     alt="Logo de la página"
                                     title="Logo"
                                     width="100px"
                                     height="100px">
                            </a>
                        </div>
                        <div>
                            <ul>
                                <li><a th:href="@{/index}">Inicio</a></li>
                                <li><a th:href="@{/productos/listado}">Productos</a></li>
                                <li><a th:href="@{/consejos_de_salud}">Consejos de Salud</a></li>
                                <li><a th:href="@{/servicio_de_paseos/listado}">Servicio de Paseos</a></li>
                                <li><a th:href="@{/sucursales/listado}">Sucursales</a></li>
                                <li><a th:href="@{/contactanos}">Contáctanos</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <!-- #endregion -->
            </header>
        </div>
        <!-- #endregion -->
    </body>

</html>