<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- #region Bootstrap (import) -->
        <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <!-- #endregion -->
        <!-- #region Webpage Icon -->
        <link rel="shortcut icon" type="image/svg" th:href="@{/images/logos/pet_shop_favicon.svg}">
        <!-- #endregion -->
        <!-- region Import CSS -->
        <link rel="stylesheet"  type="text/css" th:href="@{/css/estilos.css}" />
    </head>

    <body>
        <!-- #region Header -->
        <header th:fragment="header" class=" sticky-top">
            <!-- #region Navbar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <div>
                            <a class="d-flex align-items-center navbar-brand me-lg-auto " th:href="@{/index}">    
                            <img src="https://cdn.pixabay.com/photo/2022/09/24/19/47/dog-7477112_1280.png"
                                    alt="Logo de la página"
                                    title="Logo"
                                    width="70" 
                                    height="62" 
                                    role="img">
                            <h5>Veterinaria Grupo 44</h5>                             
                        </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end " id="navbarNav">
                        <div class="navbar-nav text-center navbar-list">
                            <a th:href="@{/index}" class="nav-link" >Inicio</a>
                            <a th:href="@{/productos/listado}" class="nav-link">Productos</a>
                            <a th:href="@{/consejos_de_salud/listado}" class="nav-link">Consejos de Salud</a>
                            <a th:href="@{/servicio_de_paseos/listado}" class="nav-link">Servicio de Paseos</a>
                            <a th:href="@{/sucursales/listado}" class="nav-link">Sucursales</a>                          
                            <a th:href="@{/contactanos}" class="nav-link">Contáctanos</a>
                        </div>
                    </div>
                </div>
            </nav>  
        </header>
        <!-- #endregion -->
    </body>

</html>