<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Consejos</title>
        <link rel="stylesheet" href="../static/css/estilos.css" />
    </head>
    <body>
    	<div id="container">
    		<!-- header -->
	        <header>
	            <h1>Bienvenidos a la Página Web del Grupo 44</h1>
	            <img
	                src="https://cdn.pixabay.com/photo/2022/09/24/19/47/dog-7477112_1280.png"
	                alt="Logo de presentacion"
	                title="Imagen de presentacion"
	                width="100"
	            />
	        </header>
	        
	        <!-- Navegación entre los diferentes sitios de la página -->
	        <nav>
	        	<ul>
	        		<li><a href="index.html">Inicio</a></li>
	        		<li><a href="productos.html">Producto</a></li>
	        		<li><a href="consejos-salud.html">Consejos de salud</a></li>
	        		<li><a href="servicio-paseos.html">Servicio de paseos</a></li>
	        		<li><a href="sucursales.html">Sucursales</a></li>
	        		<li><a href="contactanos.html">Contáctanos</a></li>
	        	</ul>
	        </nav>
	
	        <section>
	            <h2>Cómo cuidar a nuestras mascotas</h2>
	            <h5>
	                Tener una mascota en casa requiere de compromiso y
	                responsabilidad de toda la familia.
	            </h5>
	
	            <article>
	                <h3>Tenencia responsable</h3>
	                <img
	                    src="../static/images/tenencia-responsable.jpg"
	                    alt="tenencia-responable"
	                    title="tenencia-responsable"
	                    width="950"
	                />
	                <p>
	                    Para nuestras mascotas ya sea un perro, un gato, un ave,etc,
	                    es importante saber que cuentan con nuestro apoyo y sobre
	                    que se sientan amadas.
	                </p>
	            </article>
	
	            <article>
	                <h3>Cuidado del ambiente y su higiene</h3>
	                <img
	                    src="../static/images/limpieza.jpg"
	                    alt="aseo"
	                    title="aseo"
	                    width="950"
	                />
	                <p>
	                    Al momento de tener una mascota es necesario que cuenten con
	                    un lugar seguro donde puedan estar comodos y poder
	                    resguardarse de los diferentes cambios climáticos como ser
	                    frio, calor, entre otros.
	                </p>
	                <p>
	                    Hay que saber cuidarlas, educarlas, mimarlos y brindarles
	                    tiempo de convivencia con nosotros o con otros animales ya
	                    sea de su misma especie o otras especies.
	                </p>
	                <p>
	                    Mantener el cuadro de vacunacion y desparasitacion de perros
	                    o gato, mantenerlos limpios libres de pulgas y garrapatas.
	                </p>
	                <p>Mantener limpia el área donde se encuentre la mascota.</p>
	            </article>
	
	            <article>
	                <h3>Alimentación</h3>
	                <img
	                    src="../static/images/alimentacion.jpg"
	                    alt="alimentacion"
	                    title="alimentacion"
	                    width="950"
	                />
	                <p>
	                    Darles una alimentación diaria, que sea sano y balanceado.
	                </p>
	                <p>
	                    Es fundamental que siempre tengan agua fresca y limpia ya
	                    que esto les ayuda a mantenerse hidratados y afrontar las
	                    épocas de calor. Mantener su plato limpio.
	                </p>
	                <p>
	                    Evitar que ingieran alimentos en mal estado, en caso de que
	                    no se sientan bien llevarlo con un veterinario y evitar
	                    darles remedios caseros o de humanos.
	                </p>
	            </article>
	
	            <article>
	                <h3>Ejercicios</h3>
	                <img
	                    src="../static/images/perroCorriendo.jpg"
	                    alt="ejercicio"
	                    title="ejercicio"
	                    width="950"
	                />
	                <p>
	                    Los perros y gatos necesitan hacer ejercicio ya que esto
	                    les ayuda a desestresarse y gastar su energía.
	                </p>
	                <p>Necesitan socializar con otros animales.</p>
	            </article>
	        </section>
	        <br />
	       <!--  <a href="index.html">Volver</a> --> 
	       <!-- pie de página -->
	        <footer>
	            <p>Copyright 2023 - Tienda Grupo N°44 - Diseñado por Grupo 44 - Jujuy - República Argentina</p>
	            <a href="#inicio">
	            <img 
	            	alt="volver al menu" 
	            	src="../static/images/arriba.png"
	            	width="70"
	            />
	            </a>
	            <img
                    src="https://cdn.pixabay.com/photo/2022/09/24/19/47/dog-7477112_1280.png"
                    alt="Logo de presentacion"
                    title="Imagen de presentación"
                    width="100"
                />
	        </footer>
	     </div>
    </body>
</html>
