<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>consejos</title>
    </head>
    <body>
        <header>
            <h1>Consejos de salud</h1>
            <img
                src="../static/images/mascotas.jpg"
                alt="mascotas"
                title="mascotas"
                width="950"
            />
        </header>

        <section>
            <h2>Cómo cuidar a nuestras mascotas</h2>
            <h5>
                Tener una mascota en casa requiere de compromiso y
                responsabilidad de toda la familia.
            </h5>

            <article>
                <h3>Tenencia responsable</h3>
                <img
                    src="../static/images/tenencia-responsable.jpg"
                    alt="tenencia-responable"
                    title="tenencia-responsable"
                    width="950"
                />
                <p>
                    Para nuestras mascotas ya sea un perro, un gato, un ave,etc,
                    es importante saber que cuentan con nuestro apoyo y sobre
                    que se sientan amadas.
                </p>
            </article>

            <article>
                <h3>Cuidado del ambiente y su higiene</h3>
                <img
                    src="../static/images/limpieza.jpg"
                    alt="aseo"
                    title="aseo"
                    width="950"
                />
                <p>
                    Al momento de tener una mascota es necesario que cuenten con
                    un lugar seguro donde puedan estar comodos y poder
                    resguardarse de los diferentes cambios climáticos como ser
                    frio, calor, entre otros.
                </p>
                <p>
                    Hay que saber cuidarlas, educarlas, mimarlos y brindarles
                    tiempo de convivencia con nosotros o con otros animales ya
                    sea de su misma especie o otras especies.
                </p>
                <p>
                    Mantener el cuadro de vacunacion y desparasitacion de perros
                    o gato, mantenerlos limpios libres de pulgas y garrapatas.
                </p>
                <p>Mantener limpia el área donde se encuentre la mascota.</p>
            </article>

            <article>
                <h3>Alimentación</h3>
                <img
                    src="../static/images/alimentacion.jpg"
                    alt="alimentacion"
                    title="alimentacion"
                    width="950"
                />
                <p>
                    Darles una alimentación diaria, que sea sano y balanceado.
                </p>
                <p>
                    Es fundamental que siempre tengan agua fresca y limpia ya
                    que esto les ayuda a mantenerse hidratados y afrontar las
                    épocas de calor. Mantener su plato limpio.
                </p>
                <p>
                    Evitar que ingieran alimentos en mal estado, en caso de que
                    no se sientan bien llevarlo con un veterinario y evitar
                    darles remedios caseros o de humanos.
                </p>
            </article>

            <article>
                <h3>Ejercicios</h3>
                <img
                    src="../static/images/perroCorriendo.jpg"
                    alt="ejercicio"
                    title="ejercicio"
                    width="950"
                />
                <p>
                    Los perros y gatos necesitas necesitan ejercicio ya que esto
                    les ayuda a desestresaese y gastar su energía.
                </p>
                <p>Necesita socializar con otros animales.</p>
            </article>
        </section>
        <br />
        <a href="index.html">Volver</a>
        <footer>
            <p>
                Copyright 2023 - Tienda Grupo N°44 - Diseñado por Grupo 44 -
                Jujuy - República Argentina
            </p>
        </footer>
    </body>
</html>
