<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

    <head>
        <!-- #region Meta Tags -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- #endregion -->
        
        <!-- #region Importar Bootstrap -->
        <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <!-- #endregion -->
        
        <!-- #region Importar CSS personalizado -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
        <!-- #endregion -->

        <!-- #region Icono y Título de la Página -->
        <link rel="shortcut icon" type="image/svg" th:href="@{/images/logos/pet_shop_favicon.svg}">
        <title>Consejos de salud</title>
        <!-- #endregion -->
        
    </head>

    <body>
        <!-- #region Header -->
        <header th:replace="~{layouts/header :: header}"></header>
        <!-- #endregion -->

        <!-- #region Consejos de Salud -->
        <section class="container" id="seccion">

            <div class="bg-light border border-light-subtle rounded text-center">
                <h1 class="m-3">¡Encuentrá los mejores consejos!</h1>
                <a class="btn btn-primary mb-3" th:href="@{/consejos_de_salud/nuevo}">Nuevo Consejo</a>
            </div>
            <hr>

            <article th:each="consejo : ${listaConsejos}">
            	<div class="card text-center mx-auto mb-3" style="width: 60%;">
	                <!-- #region Titulo -->
	                <h2 class="card-title" th:text="${consejo.titulo}"></h2>
	                <!-- #endregion -->
					<img th:src="@{${consejo.imagen}}" style="max-height:600px" class="card-img-middle">
					<div class="card-body">
		                <!-- #region Contenido -->
		                <p style="white-space: pre-line;" th:text="${consejo.contenido}"></p>
		                <!-- #endregion -->
		
		                <!-- #region Fecha de Publicacion -->
		                <small class="text-secondary" th:text="${consejo.fechaPublicacion}"></small>
		                <!-- #endregion -->
	                </div>
	                <!-- #region Acciones(Modificar/Eliminar) -->
	                <div class="btn-group" role="group">
	                    <a class="btn btn-sm btn-outline-primary text-decoration-none"
	                       role="button"
	                       th:href="@{/consejos_de_salud/modificar/} + ${consejo.identificador}">Modificar</a>
	
	                    <a class="btn btn-sm btn-outline-danger text-decoration-none"
	                       role="button"
	                       th:href="@{/consejos_de_salud/eliminar/} + ${consejo.identificador}">Eliminar</a>
	                </div>
	                <!-- #endregion -->
				</div>
            </article>

        </section>
        <!-- #endregion -->

        <!-- #region Footer -->
        <footer th:replace="~{layouts/footer :: footer}"></footer>
        <!-- #endregion -->

        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </body>

</html>