<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- #region Bootstrap (import) -->
        <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <!-- #endregion -->
        <!-- #region Webpage Icon & Title -->
        <link rel="shortcut icon" type="image/svg" th:href="@{/images/pet_shop_favicon.svg}">
        <!-- #endregion -->
        <title>Contáctanos</title>
    </head>

    <body>
        <!-- #region Header -->
        <header th:replace="~{layouts/header :: header}"></header>
        <!-- #endregion -->
        <hr>
        <!-- #region Contact -->
        <h2>Contáctenos</h2>
        <address>
            <p>
                3915 Av. General Belgrano, 388-4999999 <br>
                Lunes a Viernes: 9:00 a.m. a 8:00 p.m. <br>
                Sabados a domingos: 9:00 a.m. a 12:30 p.m
            </p>
            <p>
                Contactanos a traves de nuestro correo
                <a href="mailto:contactos@mail.com.ar">contactos@mail.com.ar</a>
            </p>
            <!-- #region Social Media -->
            <ul>
                <span>Nuestras redes sociales</span>
                <li><a href="https://www.facebook.com">Facebook</a></li>
                <li><a href="https://www.instagram.com">Instagram</a></li>
                <li><a href="https://www.twitter.com">Twitter</a></li>
            </ul>
            <!-- #endregion -->
        </address>
        <!-- #region Form -->
        <div>
            <form action="#" method="post">
                <label for="nombre">Nombre:</label>
                <input type="text"
                       id="nombre"
                       name="nombre"
                       placeholder="Ingrese su nombre"
                       required>
                <label for="email">Email:</label>
                <input type="email"
                       id="email"
                       name="email"
                       placeholder="Ingrese un email válido"
                       required>
                <label for="ciudad">Ciudad:</label>
                <input type="text"
                       id="ciudad"
                       name="ciudad"
                       placeholder="Ingrese su ciudad"
                       required>
                <label for="mensaje">Mensaje:</label>
                <textarea id="mensaje"
                          name="mensaje"
                          required></textarea>
                <input type="submit"
                       value="Enviar">
            </form>
        </div>
        <!-- #endregion -->
        <!-- #endregion -->
        <hr>
        <!-- #region Footer -->
        <footer th:replace="~{layouts/footer :: footer}"></footer>
        <!-- #endregion -->
        <script type="text/javascript"
                th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </body>

</html>