<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Contáctanos</title>
        <link rel="stylesheet" href="../static/css/estilos.css" />
    </head>
    <body>
        <div id="container">
            <!-- header -->
            <header id="inicio">
                <h1>Bienvenidos a la Página Web del Grupo 44</h1>
                <img
                    src="https://cdn.pixabay.com/photo/2022/09/24/19/47/dog-7477112_1280.png"
                    alt="Logo de presentacion"
                    title="Imagen de presentación"
                    width="100"
                />
            </header>
            <!-- menu -->
            <nav>
                <ul>
                    <li>
                        <a href="index.html">Inicio</a>
                    </li>
                    <li>
                        <a href="Productos.html">Productos</a>
                    </li>
                    <li>
                        <a href="consejos-salud.html">Consejos de Salud</a>
                    </li>
                    <li>
                        <a href="servicio-paseos.html">Servicio de Paseos</a>
                    </li>
                    <li>
                        <a href="sucursales.html">Sucursales</a>
                    </li>
                    <li>
                        <a href="contactanos.html">Contáctenos</a>
                    </li>
                </ul>
            </nav>
            <div class="clearfix"></div>
            <h2>Contáctenos</h2>
            <p>
                3915 Av. General Belgrano, 388-4999999<br />
                Lunes a Viernes: 9:00 a.m. a 8:00 p.m.<br />
                Sabados a domingos: 9:00 a.m. a 12:30 p.m
            </p>
            <a href="mailto:contactos@mail.com.ar">contactos@mail.com.ar</a>
            <!-- utilizamos la etiqueta a y especificamos el protocolo mailto: seguido de la dirección de correo electrónico a utilizar. Cuando los usuarios hagan clic en este enlace, su cliente de correo electrónico se abrirá para que puedan enviar un correo electrónico a la dirección especificada. -->
            <ul>
                <li><a href="https://www.facebook.com">Facebook</a></li>
                <li><a href="https://www.instagram.com">Instagram</a></li>
                <li><a href="https://www.twitter.com">Twitter</a></li>
            </ul>
            <hr />
            <!-- etiqueta hr para agregar una línea horizontal  -->
            <form action="#" method="post">
                <!-- La propiedad action especifica la URL a la que se enviará el formulario, y la propiedad method especifica el método de envío del formulario (en este caso, POST).	-->
                <label for="nombre">Nombre:</label>
                <input
                    type="text"
                    id="nombre"
                    name="nombre"
                    placeholder="Ingrese su nombre"
                    required
                />
                <!--  utilizamos el atributo placeholder en cada campo de entrada para mostrar un mensaje de ayuda en gris claro dentro del campo. Cuando el usuario comience a escribir, el mensaje desaparecerá automáticamente. -->
                <br /><br />
                <!-- el atributo type="email" para que el navegador valide automáticamente que el valor ingresado sea una dirección de correo electrónico válida. -->
                <label for="email">Email:</label>
                <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Ingrese un email válido"
                    required
                />
                <br /><br />
                <!-- la etiqueta label para agregar etiquetas descriptivas a cada campo de entrada, y la etiqueta input para crear campos de entrada de texto -->
                <label for="ciudad">Ciudad:</label>
                <input
                    type="text"
                    id="ciudad"
                    name="ciudad"
                    placeholder="Ingrese su ciudad"
                    required
                />
                <br /><br />
                <label for="mensaje">Mensaje:</label>
                <textarea id="mensaje" name="mensaje" required></textarea>
                <br /><br />
                <!-- etiqueta input con el atributo type="submit" para crear el botón de enviar. El atributo value establece el texto que aparecerá en el botón. -->
                <input type="submit" value="Enviar" />
                <br /><br />
            </form>
            <br />
            <a href="index.html">Volver</a>
            <!-- pie de pagina -->
            <footer>
                <p>
                    Copyright © 2023 - Tienda Grupo 44 - Diseñado por Grupo 44 -
                    Jujuy - República Argentina
                </p>
                <a href="#inicio"
                    ><img
                        alt="volver al menu"
                        src="../static/images/arriba.png"
                        width="70"
                /></a>
                <img
                    src="https://cdn.pixabay.com/photo/2022/09/24/19/47/dog-7477112_1280.png"
                    alt="Logo de presentacion"
                    title="Imagen de presentación"
                    width="100"
                />
            </footer>
        </div>
    </body>
</html>
