<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}" />
    <link rel="shortcut icon" type="image/svg" th:href="@{/images/logos/pet_shop_favicon.svg}">
    <title>Empleados</title>
</head>

<body>
    <!-- #region Header -->
    <header th:replace="~{layouts/header :: header}"></header>
    <!-- #endregion -->

    <!-- #region empleados.html -->
    <div class="container pt-3" id="seccion">

        <!-- #region Navegación -->
        <div class="bg-light border border-light-subtle rounded text-center">
            <h1 class="m-3">Administración de Empleados</h1>
            <p class="text-secondary"><em>Eliminar o modificar empleado/s.</em></p>
        </div>
        <hr>
        <!-- #endregion -->

        <!-- #region Empleados -->
        <div class="card mb-3">

            <div class="card-header fs-2 text-center">
                <h3 class="mb-0">Listado</h3>
            </div>

            <div class="card-body">
                <h5 class="card-title text-center">Cantidad de empleados: <small class="badge bg-info" th:text="${#lists.size(listaEmpleados)}"></small></h5>
                
                <table class="table table-hover">
                    <thead class="align-middle text-center">
                        <tr>
                            <th scope="col">Identificador</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Horario</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle text-center">
                        <tr th:each="empleado : ${listaEmpleados}">
                            <th scope="row" th:text="${empleado.identificador}"></th>
                            <td th:text="${empleado.nombre}"></td>
                            <td th:text="${empleado.apellido}"></td>
                            <td
                                th:text="${#temporals.format(empleado.horarioDisponibleDesde, 'HH:mm a')} + ' - ' + ${#temporals.format(empleado.horarioDisponibleHasta, 'HH:mm a')}">
                            </td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a class="btn btn-sm btn-outline-primary text-decoration-none"
                                       role="button"
                                       th:href="@{/empleados/modificar/} + ${empleado.identificador}">Modificar</a>

                                    <a class="btn btn-sm btn-outline-danger text-decoration-none"
                                       role="button"
                                       th:href="@{/empleados/eliminar/} + ${empleado.identificador}">Eliminar</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- #region Opciones -->
            <div class="card-footer d-flex gap-3 justify-content-center">
                <a class="btn btn-danger text-decoration-none"
                    role="button"
                    th:href="@{/gestion_de_datos/listado}">Regresar</a>
                <a class="btn btn-primary"
                   role="button"
                   href="#seccion">Volver al índice</a>
            </div>
            <!-- #endregion -->
        </div>
    </div>
    <!-- #region Footer -->
    <footer th:replace="~{layouts/footer :: footer}"></footer>
    <!-- #endregion -->
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>