<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
        <link rel="shortcut icon" type="image/svg" th:href="@{/images/logos/pet_shop_favicon.svg}">
        <title>Inicio</title>
    </head>

    <body>
        <!-- #region Header -->
        <header th:replace="~{layouts/header :: header}"></header>
        <!-- #endregion -->
        
        <!-- #region Index -->
        <div class="container bg-light border border-2 rounded mb-3">
            <section class="pt-3">
                <h2>Últimas noticias</h2>

                <!-- #region Noticias -->
                <aside>
                    <ul>
                        <li><a href="#">Nuevo servicio de cuidado de mascotas</a></li>
                        <li><a href="#">Promoción de invierno: 10% de descuento en paseos</a></li>
                        <li><a href="#">Cómo mantener a tu perro feliz y saludable durante el verano</a></li>
                    </ul>
                </aside>
                <!-- #endregion -->
                <h2><u>Nuestro objetivo</u></h2>
                <!-- #region Contenido -->
                <article>
                    <h3>Compromiso con la salud y bienestar de las mascotas</h3>
                    <p>
                        Somos una empresa dedicada a brindar servicios de alta calidad para mascotas y sus dueños. Nos
                        esforzamos en ofrecer una experiencia única y satisfactoria para nuestros clientes y sus mascotas.
                    </p>
                </article>
                <article>
                    <h3>Cuidado personalizado</h3>
                    <p>
                        Cada mascota es única y por eso ofrecemos un trato personalizado para cada una de ellas. Desde el
                        paseo diario hasta la alimentación, nos aseguramos de que cada mascota reciba la atención que
                        merece.
                    </p>
                </article>
                <!-- #endregion -->

            </section>
        </div>
        <!-- #endregion -->
        
        <!-- #region Footer -->
        <footer th:replace="~{layouts/footer :: footer}"></footer>
        <!-- #endregion -->
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </body>

</html>