<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Inicio</title>
</head>
<body>
	<header>
		<h1>Bienvenidos a la página web del grupo N°44</h1>
		<img src="static/images/presentacion.jpg" alt="Imagen de presentación" title="Imagen de presentación">
	</header>
	  
	<nav>
	<ul>
		<li><a href="index.html">Inicio</a></li>
		<li><a href="productos.html">Productos</a></li>
		<li><a href="consejos-salud.html">Consejos de salud</a></li>
		<li><a href="servicio-paseos.html">Servicio de paseos</a></li>
		<li><a href="sucursales.html">Sucursales</a></li>
		<li><a href="contactanos.html">Contáctanos</a></li>
	</ul>
	</nav>

	<section>
		<h2>Nuestro objetivo</h2>
		<article>
		  <h3>Compromiso con la salud y bienestar de las mascotas</h3>
		  <p>Somos una empresa dedicada a brindar servicios de alta calidad para mascotas y sus dueños. Nos esforzamos en ofrecer una experiencia única y satisfactoria para nuestros clientes y sus mascotas. </p>
		</article>
		<article>
		  <h3>Cuidado personalizado</h3>
		  <p>Cada mascota es única y por eso ofrecemos un trato personalizado para cada una de ellas. Desde el paseo diario hasta la alimentación, nos aseguramos de que cada mascota reciba la atención que merece. </p>
		</article>
	</section>

	<aside>
		<h3>Últimas noticias</h3>
		<ul>
		  <li><a href="#">Nuevo servicio de cuidado de mascotas</a></li>
		  <li><a href="#">Promoción de invierno: 10% de descuento en paseos</a></li>
		  <li><a href="#">Cómo mantener a tu perro feliz y saludable durante el verano</a></li>
		</ul>
	</aside>
	  
	<footer>
		<p>Copyright 2023 - Nombre del sitio - Diseñado por Grupo 44 - Jujuy - República Argentina</p>
	</footer>
		
	  	<!-- Para mostrar una lista de productos en la página de "Productos", utilizar la etiqueta <ul> y dentro de ella, varias etiquetas <li>, cada una con la imagen y descripción de un producto.

		Para mostrar los artículos de "Consejos de salud", utilizar la etiqueta <article> y dentro de ella, incluir el título del artículo y su contenido.

		Para mostrar el servicio de paseos en la página de "Servicio de paseos", utilizar la etiqueta <table> para crear una tabla con los encabezados correspondientes a los días, horarios y paseador. -->
</body>
</html>