<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
        <link rel="shortcut icon" type="image/svg" th:href="@{/images/logos/pet_shop_favicon.svg}">
        <title>Nuevo Sucursal</title>
    </head>

    <body>
        <!-- #region Header -->
        <header th:replace="~{layouts/header :: header}"></header>
        <!-- #endregion -->

        <!-- #region nueva_sucursal.html -->
        <div class="container">

            <div class="card">
                <!-- #region Titulo -->
                <div class="card-header text-center">
                    <h3 class="mb-0" th:text="${editar} ? 'Modificar Sucursal' : 'Nueva Sucursal'"></h3>
                </div>
                <!-- #endregion -->

                <!-- #region Formulario -->
                <form th:action="@{/sucursales/guardar}"
                      th:object="${sucursal}"
                      method="post">

                    <div class="card-body">

                        <!-- #region Identificador -->
                        <div>
                            <input type="hidden"
                                   id="identificador"
                                   th:field="*{identificador}"
                                   class="form-control">
                        </div>
                        <!-- #endregion -->

                        <!-- #region Estado -->
                        <div>
                            <input type="hidden"
                                   id="estado"
                                   th:field="*{estado}"
                                   th:attr="value=${sucursal.estado}"
                                   class="form-control">
                        </div>
                        <!-- #endregion -->

                        <!-- #region Nombre -->
                        <div class="input-group mb-3">
                            <label for="nombre" class="input-group-text">Nombre</label>
                            <input type="text"
                                   id="nombre"
                                   th:field="*{nombre}"
                                   placeholder="Ingrese nombre de la sucursal"
                                   aria-label="Nombre"
                                   aria-describedby="Nombre"
                                   class="form-control">
                        </div>
                        <p class="text-danger mb-3"
                           th:if="${#fields.hasErrors('nombre')}"
                           th:errors="*{nombre}">
                        </p>
                        <!-- #endregion -->

                        <!-- #region Dirección -->
                        <div class="input-group mb-3">
                            <label for="direccion" class="input-group-text">Direccion</label>
                            <input type="text"
                                   id="direccion"
                                   th:field="*{direccion}"
                                   placeholder="Ingrese dirección de la sucursal"
                                   aria-label="Direccion"
                                   aria-describedby="Direccion"
                                   class="form-control">
                        </div>
                        <p class="text-danger mb-3"
                           th:if="${#fields.hasErrors('direccion')}"
                           th:errors="*{direccion}">
                        </p>
                        <!-- #endregion -->

                        <!-- #region numeroDirección -->
                        <div class="input-group mb-3">
                            <label for="numeroDireccion" class="input-group-text">Número</label>
                            <input type="text"
                                   id="numeroDireccion"
                                   th:field="*{numeroDireccion}"
                                   placeholder="000"
                                   aria-label="Numero"
                                   aria-describedby="Numero"
                                   class="form-control">
                        </div>
                        <p class="text-danger mb-3"
                           th:if="${#fields.hasErrors('numeroDireccion')}"
                           th:errors="*{numeroDireccion}">
                        </p>
                        <!-- #endregion -->

                        <!-- #region Telefono -->
                        <div class="input-group mb-3">
                            <label for="telefono" class="input-group-text">Telefono</label>
                            <span class="input-group-text">#</span>
                            <input type="text"
                                   id="telefono"
                                   th:field="*{telefono}"
                                   placeholder="0388-000-0000"
                                   aria-label="Telefono"
                                   aria-describedby="Telefono"
                                   class="form-control">
                        </div>
                        <p class="text-danger mb-3"
                           th:if="${#fields.hasErrors('telefono')}"
                           th:errors="*{telefono}">
                        </p>
                        <!-- #endregion -->

                        <!-- #region Fecha de apertura -->
                        <div class="input-group mb-3">
                            <label for="fechaApertura" class="input-group-text">Fecha de apertura</label>
                            <input type="date"
                                   id="fechaApertura"
                                   th:field="*{fechaApertura}"
                                   aria-label="FechaApertura"
                                   aria-labelledby="FechaApertura"
                                   class="form-control">
                        </div>
                        <p class="text-danger mb-3"
                             th:if="${#fields.hasErrors('fechaApertura')}"
                             th:errors="*{fechaApertura}">
                        </p>
                        <!-- #endregion -->

                        <!-- #region Provincia -->
                        <div class="input-group mb-3">
                            <label for="provincia" class="input-group-text">Provincia</label>
                            <select id="provincia"
                                    th:field="*{provincia.identificador}"
                                    aria-label="Provincia"
                                    class="form-select">
                                <option th:each="_provincia : ${listaProvincias}"
                                        th:value="${_provincia.identificador}"
                                        th:text="${_provincia.nombre}">
                                </option>
                            </select>
                        </div>
                        <div class="text-danger"
                             th:if="${#fields.hasErrors('provincia')}"
                             th:errors="*{provincia}">
                        </div>
                        <!-- #endregion -->

                    </div>
                    <!-- #endregion -->

                    <!-- #region Opciones -->
                    <div class="card-footer d-flex gap-3 justify-content-center">
                        <a class="btn btn-danger text-decoration-none link-light" th:href="@{/gestion_de_datos/listado}">Cancelar</a>
                        <button type="submit" class="btn btn-success" th:text="${editar} ? 'Modificar' : 'Guardar'"></button>
                    </div>
                    <!-- #endregion -->
                </form>
                <!-- #endregion -->
            </div>
            <!-- #endregion -->
        </div>
        <!-- #endregion -->

        <!-- #region Separator -->
        <hr>
        <!-- #endregion -->

        <!-- #region Footer -->
        <footer th:replace="~{layouts/footer :: footer}"></footer>
        <!-- #endregion -->
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </body>

</html>