<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
        <link rel="shortcut icon" type="image/svg" th:href="@{/images/logos/pet_shop_favicon.svg}">
        <title>Nuevo Servicio</title>
    </head>

    <body>
        <!-- #region Header -->
        <header th:replace="~{layouts/header :: header}"></header>
        <!-- #endregion -->

        <!-- #region nuevo_servicio.html -->
        <div class="container">

            <div class="card">

                <!-- #region Titulo -->
                <div class="card-header text-center">
                    <h3 class="mb-0" th:text="${editar} ? 'Modificar Servicio' : 'Nuevo Servicio'"></h3>
                </div>
                <!-- #endregion -->

                <!-- #region Formulario -->
                <form th:action="@{/servicios/guardar}"
                      th:object="${servicio}"
                      method="post">

                    <div class="card-body">

                        <!-- #region Identificador -->
                        <div>
                            <input type="hidden"
                                   id="identificador"
                                   th:field="*{identificador}"
                                   class="form-control">
                        </div>
                        <!-- #endregion -->

                        <!-- #region Estado -->
                        <div>
                            <input type="hidden"
                                   id="estado"
                                   th:field="*{estado}"
                                   th:attr="value=${servicio.estado}"
                                   class="form-control">
                        </div>
                        <!-- #endregion -->

                        <!-- #region Nombre -->
                        <div class="input-group mb-3">
                            <label for="nombre" class="input-group-text">Nombre</label>
                            <input type="text"
                                   id="nombre"
                                   th:field="*{nombre}"
                                   placeholder="Ingrese nombre del servicio"
                                   aria-label="Nombre"
                                   aria-describedby="Nombre"
                                   class="form-control">
                        </div>
                        <p class="text-danger mb-3"
                             th:if="${#fields.hasErrors('nombre')}"
                             th:errors="*{nombre}">
                        </p>
                        <!-- #endregion -->

                        <!-- #region Tipo -->
                        <div class="input-group mb-3">
                            <label for="tipo" class="input-group-text">Tipo</label>
                            <input type="text"
                                   id="tipo"
                                   th:field="*{tipo}"
                                   placeholder="Por ejemplo paseo, peluqueria, guarderia o atención veterinaria, etc."
                                   aria-label="Tipo"
                                   aria-describedby="Tipo"
                                   class="form-control">
                        </div>
                        <p class="text-danger mb-3"
                             th:if="${#fields.hasErrors('tipo')}"
                             th:errors="*{tipo}">
                        </p>
                        <!-- #endregion -->

                        <!-- #region Dia disponible -->
                        <div class="input-group mb-3">
                            <label for="diaDisponible" class="input-group-text">Dia disponible</label>
                            <input type="date"
                                   id="diaDisponible"
                                   th:field="*{diaDisponible}"
                                   aria-label="DiaDisponible"
                                   aria-describedby="DiaDisponible"
                                   class="form-control">
                        </div>
                        <p class="text-danger mb-3"
                             th:if="${#fields.hasErrors('diaDisponible')}"
                             th:errors="*{diaDisponible}">
                        </p>
                        <!-- #endregion -->

                        <!-- #region Empleado -->
                        <div class="input-group mb-3">
                            <label for="empleado" class="input-group-text">Empleado</label>
                            <select id="empleado"
                                    th:field="*{empleado.identificador}"
                                    aria-label="Empleado"
                                    class="form-select">
                                <option th:each="_empleado : ${listaEmpleados}"
                                        th:value="${_empleado.identificador}"
                                        th:text="${_empleado.apellido} + ' ' + ${_empleado.nombre}">
                                </option>
                            </select>
                        </div>
                        <p class="text-danger"
                             th:if="${#fields.hasErrors('empleado')}"
                             th:errors="*{empleado}">
                        </p>
                        <!-- #endregion -->

                    </div>
                    <!-- #endregion -->

                    <!-- #region Opciones -->
                    <div class="card-footer d-flex gap-3 justify-content-center">
                        <a class="btn btn-danger text-decoration-none link-light" th:href="@{/gestion_de_datos/listado}">Cancelar</a>
                        <button type="submit" class="btn btn-success" th:text="${editar} ? 'Modificar' : 'Guardar'">
                        </button>
                    </div>
                    <!-- #endregion -->
                </form>
                <!-- #endregion -->
            </div>
            <!-- #endregion -->
        </div>
        <!-- #endregion -->

        <!-- #region Separator -->
        <hr>
        <!-- #endregion -->

        <!-- #region Footer -->
        <footer th:replace="~{layouts/footer :: footer}"></footer>
        <!-- #endregion -->
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </body>

</html>