<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
        <link rel="shortcut icon" type="image/svg" th:href="@{/images/logos/pet_shop_favicon.svg}">
        <title>Nuevo Producto</title>
    </head>

    <body>
        <!-- #region Header -->
        <header th:replace="~{layouts/header :: header}"></header>
        <!-- #endregion -->

        <!-- #region nuevo_producto.html -->
        <div class="container">

            <!-- #region Formulario -->
            <div class="card">

                <!-- #region Titulo -->
                <div class="card-header text-center">
                    <h3 class="mb-0" th:text="${editar} ? 'Modificar Producto' : 'Nuevo Producto'"></h3>
                    <h6 class="badge bg-secondary"
                        th:text="${editar} ? 'Código ' + ${producto.codigo} : 'Código no asignado todavia'">
                    </h6>
                </div>
                <!-- #endregion -->

                <!-- #region Contenido -->
                <form th:action="@{/productos/guardar}"
                      th:object="${producto}"
                      method="post">

                    <!-- #region Entrada de datos -->
                    <div class="card-body">

                        <!-- #region Código -->
                        <div>
                            <input type="hidden" id="codigo" th:field="*{codigo}" class="form-control">
                        </div>
                        <!-- #endregion -->

                        <!-- #region Nombre -->
                        <div class="input-group mb-3">
                            <label for="nombre" class="input-group-text">Nombre</label>
                            <input type="text"
                                   id="nombre"
                                   th:field="*{nombre}"
                                   placeholder="Ingrese nombre del producto"
                                   aria-label="Nombre"
                                   aria-describedby="Nombre"
                                   class="form-control">
                        </div>
                        <div class="text-danger mb-3"
                             th:if="${#fields.hasErrors('nombre')}"
                             th:errors="*{nombre}">
                        </div>
                        <!-- #endregion -->

                        <!-- #region Precio -->
                        <div class="input-group mb-3">
                            <label for="precio" class="input-group-text">Precio</label>
                            <span class="input-group-text text-success">$</span>
                            <input type="text"
                                   id="precio"
                                   th:field="*{precio}"
                                   placeholder="000.0"
                                   aria-label="Precio"
                                   aria-describedby="Precio"
                                   class="form-control">
                        </div>
                        <div class="text-danger mb-3"
                             th:if="${#fields.hasErrors('precio')}"
                             th:errors="*{precio}">
                        </div>
                        <!-- #endregion -->

                        <!-- #region Descuento -->
                        <div class="input-group mb-3">
                            <label for="descuento" class="input-group-text">Descuento</label>
                            <span class="input-group-text text-success">$</span>
                            <input type="text"
                                   id="descuento"
                                   th:field="*{descuento}"
                                   placeholder="00"
                                   aria-label="Descuento"
                                   aria-describedby="Descuento"
                                   class="form-control">
                        </div>
                        <div class="text-danger mb-3"
                             th:if="${#fields.hasErrors('descuento')}"
                             th:errors="*{descuento}">
                        </div>
                        <!-- #endregion -->

                        <!-- #region Categoria -->
                        <div class="input-group mb-3">
                            <label for="categoria" class="input-group-text">Categoria</label>
                            <select id="categoria"
                                    th:field="*{categoria.identificador}"
                                    aria-label="Categoria"
                                    class="form-select">
                                <option th:each="_categoria : ${listaCategorias}"
                                        th:value="${_categoria.identificador}"
                                        th:text="${_categoria.nombre}">
                                </option>
                            </select>
                        </div>
                        <div class="text-danger"
                             th:if="${#fields.hasErrors('categoria')}"
                             th:errors="*{categoria}">
                        </div>
                        <!-- #endregion -->

                        <!-- #region Nombre -->
                        <div class="input-group mb-3">
                            <label for="imagen" class="input-group-text">Imagen</label>
                            <input type="text"
                                   id="imagen"
                                   th:field="*{imagen}"
                                   placeholder="Ingrese URL de la imagen del producto"
                                   aria-label="Imagen"
                                   aria-describedby="Imagen"
                                   class="form-control">
                        </div>
                        <div class="text-danger mb-3" th:if="${#fields.hasErrors('imagen')}" th:errors="*{imagen}"></div>
                        <!-- #endregion -->
                        
                    </div>
                    <!-- #endregion -->

                    <!-- #region Opciones -->
                    <div class="card-footer d-flex gap-3 justify-content-center">
                        <a class="btn btn-danger text-decoration-none link-light" th:href="@{/productos/listado}">Cancelar</a>
                        <button type="submit" class="btn btn-success" th:text="${editar} ? 'Modificar' : 'Guardar'">
                        </button>
                    </div>
                    <!-- #endregion -->

                </form>
                <!-- #endregion -->

            </div>
            <!-- #endregion -->
        </div>
        <!-- #endregion -->

        <!-- #region Separator -->
        <hr>
        <!-- #endregion -->

        <!-- #region Footer -->
        <footer th:replace="~{layouts/footer :: footer}"></footer>
        <!-- #endregion -->
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </body>

</html>