<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

    <head>
        <!-- #region Meta -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- #endregion -->

        <!-- #region Bootstrap (import) -->
        <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <!-- #endregion -->

        <!-- #region Custom CSS -->
        <link rel="stylesheet" th:href="@{/css/estilos.css}">
        <!-- #endregion -->

        <!-- #region Webpage Icon & Title -->
        <link rel="shortcut icon" type="image/svg" th:href="@{/images/logos/pet_shop_favicon.svg}">
        <!-- region Import CSS -->
        <link rel="stylesheet"  type="text/css" th:href="@{/css/estilos.css}" />
        <title>Nuevo Sucursal</title>
        <!-- #endregion -->
    </head>

    <body>
        <!-- #region Header -->
        <header th:replace="~{layouts/header :: header}"></header>
        <!-- #endregion -->

        <!-- #region nueva_sucursal.html -->
        <div class="container">

            <!-- #region Formulario -->
            <div class="card">

                <!-- #region Titulo -->
                <div class="card-header text-center">
                    <h3 class="mb-0" th:text="${editar} ? 'Modificar Sucursal' : 'Nuevo Sucursal'"></h3>
                    <h6 class="badge bg-secondary"
                        th:text="${editar} ? 'Identificador ' + ${sucursal.identificador} : 'Identificador no asignado todavia'">
                    </h6>
                </div>
                <!-- #endregion -->

                <!-- #region Contenido -->
                <form th:action="${editar} ? @{/sucursales/modificar} : @{/sucursales/guardar}"
                      th:object="${sucursal}"
                      method="post">

                    <!-- #region Entrada de datos -->
                    <div class="card-body">

                        <!-- #region Identificador -->
                        <div>
                            <input type="hidden" id="identificador" th:field="*{identificador}" class="form-control">
                        </div>
                        <!-- #endregion -->

                        <!-- #region Nombre -->
                        <div class="input-group mb-3">
                            <label for="nombre" class="input-group-text">Nombre</label>
                            <input type="text"
                                   id="nombre"
                                   th:field="*{nombre}"
                                   placeholder="Ingrese nombre de la sucursal"
                                   aria-label="Nombre"
                                   aria-describedby="Nombre"
                                   class="form-control">
                        </div>
                        <div class="text-danger mb-3" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
                        </div>
                        <!-- #endregion -->

                        <!-- #region Dirección -->
                        <div class="input-group mb-3">
                            <label for="direccion" class="input-group-text">Direccion</label>
                            <input type="text"
                                   id="direccion"
                                   th:field="*{direccion}"
                                   placeholder="Ingrese dirección de la sucursal"
                                   aria-label="Direccion"
                                   aria-describedby="Direccion"
                                   class="form-control">
                        </div>
                        <div class="text-danger mb-3" th:if="${#fields.hasErrors('direccion')}"
                             th:errors="*{direccion}">
                        </div>
                        <!-- #endregion -->

                        <!-- #region numeroDirección -->
                        <div class="input-group mb-3">
                            <label for="numeroDireccion" class="input-group-text">Número</label>
                            <input type="text" id="numeroDireccion" th:field="*{numeroDireccion}" placeholder="000"
                                   aria-label="Numero" aria-describedby="Numero" class="form-control">
                        </div>
                        <div class="text-danger mb-3" th:if="${#fields.hasErrors('numeroDireccion')}"
                             th:errors="*{numeroDireccion}">
                        </div>
                        <!-- #endregion -->

                        <!-- #region Telefono -->
                        <div class="input-group mb-3">
                            <label for="telefono" class="input-group-text">Telefono</label>
                            <span class="input-group-text">#</span>
                            <input type="text" id="telefono" th:field="*{telefono}" aria-label="Telefono"
                                   aria-describedby="Telefono" placeholder="0388-000-0000" class="form-control">
                        </div>
                        <div class="text-danger mb-3" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}">
                        </div>
                        <!-- #endregion -->

                        <!-- #region Horario -->
                        <div class="input-group mb-3">
                            <span class="input-group-text">Horario</span>
                            <label for="horarioApertura" class="input-group-text">Apertura</label>
                            <input type="time" id="horarioApertura" th:field="*{horarioApertura}" aria-label="Apertura"
                                   aria-labelledby="Apertura" class="form-control">

                            <label for="horarioCierre" class="input-group-text">Cierre</label>
                            <input type="time" id="horarioCierre" th:field="*{horarioCierre}" aria-label="Cierre"
                                   aria-labelledby="Cierre" class="form-control">
                        </div>
                        <div class="text-danger mb-3" th:if="${#fields.hasErrors('horarioApertura')}"
                             th:errors="*{horarioApertura}">
                        </div>
                        <div class="text-danger mb-3" th:if="${#fields.hasErrors('horarioCierre')}"
                             th:errors="*{horarioCierre}">
                        </div>
                        <!-- #endregion -->

                        <!-- #region Provincia -->
                        <div class="input-group mb-3">
                            <label for="provincia" class="input-group-text">Provincia</label>
                            <select id="provincia" th:field="*{provincia}" aria-label="Provincia" class="form-select">
                                <option value="">Selecciona una provincia</option>
                                <option value="Jujuy">Jujuy</option>
                                <option value="Salta">Salta</option>
                                <option value="Tucumán">Tucumán</option>
                            </select>
                        </div>
                        <div class="text-danger" th:if="${#fields.hasErrors('provincia')}" th:errors="*{provincia}">
                        </div>
                        <!-- #endregion -->

                    </div>
                    <!-- #endregion -->

                    <!-- #region Opciones -->
                    <div class="card-footer d-flex gap-3 justify-content-center">
                        <button class="btn btn-danger">
                            <a class="text-decoration-none link-light" th:href="@{/sucursales/listado}">Cancelar</a>
                        </button>
                        <button type="submit" class="btn btn-success" th:text="${editar} ? 'Modificar' : 'Guardar'">
                        </button>
                    </div>
                    <!-- #endregion -->

                </form>
                <!-- #endregion -->

            </div>
            <!-- #endregion -->

        </div>
        <!-- #endregion -->

        <!-- #region Separator -->
        <hr>
        <!-- #endregion -->

        <!-- #region Footer -->
        <footer th:replace="~{layouts/footer :: footer}"></footer>
        <!-- #endregion -->
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </body>

</html>