<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- #region Bootstrap (import) -->
        <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <!-- #endregion -->
        <!-- #region Webpage Icon & Title -->
        <link rel="shortcut icon" type="image/svg" th:href="@{/images/pet_shop_favicon.svg}">
        <title>Nuevo Sucursal</title>
        <!-- #endregion -->
    </head>

    <body>
        <!-- #region Header -->
        <header th:replace="~{layouts/header :: header}"></header>
        <!-- #endregion -->

        <!-- #region AddProduct -->
        <div class="container">

            <!-- #region Form -->
            <div class="card">
                <div class="card-header text-center">
                    <h3 class="mb-0" th:text="${editar} ? 'Modificar Sucursal' : 'Nuevo Sucursal'"></h3>
                    <h6 class="badge bg-secondary"
                        th:text="${editar} ? 'Identificador ' + ${sucursal.identificador} : 'Identificador no asignado todavia'">
                    </h6>
                </div>

                <form th:action="${editar} ? @{/sucursales/modificar} : @{/sucursales/guardar}"
                      th:object="${sucursal}"
                      method="post">

                    <div class="card-body">

                        <!-- #region Identificador -->
                        <div>
                            <input type="hidden"
                                   id="identificador"
                                   th:field="*{identificador}"
                                   class="form-control">
                        </div>
                        <!-- #endregion -->

                        <!-- #region Nombre -->
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text"
                                   id="nombre"
                                   th:field="*{nombre}"
                                   placeholder="Ingrese nombre de la sucursal"
                                   class="form-control">
                            <div class="text-danger mb-3"
                                 th:if="${#fields.hasErrors('nombre')}"
                                 th:errors="*{nombre}">
                            </div>
                        </div>
                        <!-- #endregion -->

                        <!-- #region Dirección -->
                        <div class="mb-3">
                            <label for="direccion" class="form-label">Direccion</label>
                            <input type="text"
                                   id="direccion"
                                   th:field="*{direccion}"
                                   class="form-control">
                            <div class="text-danger mb-3"
                                 th:if="${#fields.hasErrors('direccion')}"
                                 th:errors="*{direccion}">
                            </div>
                        </div>
                        <!-- #endregion -->

                        <!-- #region numeroDirección -->
                        <!-- <div class="mb-3">
                            <label for="numeroDireccion" class="form-label">Número</label>
                            <input type="number"
                                   id="numeroDireccion"
                                   th:field="*{numeroDireccion}"
                                   class="form-control">
                            <div class="text-danger mb-3"
                                 th:if="${#fields.hasErrors('numeroDireccion')}"
                                 th:errors="*{numeroDireccion}">
                            </div>
                        </div> -->
                        <!-- #endregion -->

                        <!-- #region Provincia -->
                        <div class="mb-3">
                            <label for="provincia" class="form-label">Provincia</label>
                            <select id="provincia"
                                    th:field="*{provincia}"
                                    class="form-select">
                                <option value="">Selecciona una provincia</option>
                                <option value="Jujuy">Jujuy</option>
                                <option value="Salta">Salta</option>
                                <option value="Tucumán">Tucumán</option>

                            </select>
                            <div class="text-danger"
                                 th:if="${#fields.hasErrors('provincia')}"
                                 th:errors="*{provincia}">
                            </div>
                        </div>
                        <!-- #endregion -->

                    </div>
                    <div class="card-footer d-flex gap-3 justify-content-center">
                        <button class="btn btn-warning">
                            <a class="text-decoration-none" th:href="@{/sucursales/listado}">Cancelar</a>
                        </button>
                        <button type="submit"
                                class="btn btn-success"
                                th:text="${editar} ? 'Modificar' : 'Guardar'">
                        </button>
                    </div>
                </form>
            </div>
            <!-- #endregion -->
        </div>
        <!-- #endregion -->
        <!-- #region Separator -->
        <hr>
        <!-- #endregion -->
        <!-- #region Footer -->
        <footer th:replace="~{layouts/footer :: footer}"></footer>
        <!-- #endregion -->
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </body>

</html>