<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>Servicio de paseos</title>
	</head>
	<body>
			<h1>Servicio de paseos</h1>
			<table border="1">
				<tr>
					<td>Días</td>
					<td>Horarios</td>
					<td>Paseador</td>
				</tr>
				<tr>
					<td>Lunes</td>
					<td>9:00 a 11:00</td>
					<td>Roberto Bautista</td>
				</tr>
				<tr>
					<td>Martes</td>
					<td>9:00 a 11:00</td>
					<td>Florencia Torres</td>
				</tr>
				<tr>
					<td>Miercoles</td>
					<td>16:00 a 18:00</td>
					<td>Pedro Dominguez</td>
				</tr>
				<tr>
					<td>Jueves</td>
					<td>16:00 a 18:00</td>
					<td>Micaela Chumacero</td>
				</tr>
				<tr>
					<td>Viernes</td>
					<td>9:00 a 11:00</td>
					<td>Camilo Mamani</td>
				</tr>
				<tr>
					<td>Sabados</td>
					<td>8:00 a 10:00</td>
					<td>Ignacio Tarifa</td>
				</tr>
			</table>
			<br>
			<a href="index.html">Volver</a>
			<footer>
				<p>Copyright 2023 -  Tienda Grupo N°44 - Diseñado por Grupo 44 - Jujuy - República Argentina</p>
			</footer>
	</body>
</html>