<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

    <head>
        <!-- #region Meta-->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- #endregion -->

        <!-- #region Bootstrap (import) -->
        <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <!-- #endregion -->

        <!-- #region Custom CSS -->
        <link rel="stylesheet" th:href="@{/css/estilos.css}">
        <!-- #endregion -->

        <!-- #region Webpage Icon & Title -->
        <link rel="shortcut icon" type="image/svg" th:href="@{/images/logos/pet_shop_favicon.svg}">
        <!-- region Import CSS -->
        <link rel="stylesheet"  type="text/css" th:href="@{/css/estilos.css}" />
        <title>Servicio de paseos</title>
        <!-- #endregion -->
    </head>

    <body>
        <!-- #region Header -->
        <header th:replace="~{layouts/header :: header}"></header>
        <!-- #endregion -->

        <div class="container">
            <div class="bg-light border border-light-subtle rounded text-center mb-3">
                <h1 class="m-3">¡Encontrá al paseador más cercano!</h1>
                <p class="text-secondary">
                    <em>
                        Disponemos de varios voluntarios capacitados, en varias regiones del NOA.
                    </em>
                </p>
                <a class="btn btn-primary mb-3" th:href="@{/servicio_de_paseos/nuevo}">Nuevo Paseador</a>
            </div>

            <div th:each="provincia : ${listaProvincias}">
                <div class="bg-light border border-secondary-subtle rounded text-center mb-3">
                    <h1 th:text="${provincia}"></h1>
                    <img class="img-thumbnail d-block mx-auto mb-3"
                         style="height: 150px;"
                         alt="..."
                         th:each="imagen : ${listaImagenes}"
                         th:if="${#strings.equals(imagen.identificador, provincia)}"
                         th:src="${imagen.nombre}">
                </div>
                <table class="table table-bordered table-striped table-hover">
                    <thead class="align-middle text-center">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Día disponible</th>
                            <th scope="col">Horario disponible</th>
                            <th scope="col">Provincia</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider align-middle">
                        <tr th:each="paseador: ${listaPaseadores}" th:if="${paseador.provincia} == ${provincia}">
                            <td th:text="${paseador.nombre}"></td>
                            <td th:text="${paseador.apellido}"></td>
                            <td th:text="${paseador.diaDisponible}"></td>
                            <td
                                th:text="${#temporals.format(paseador.horarioDisponibleDesde, 'HH:mm a')} + ' - ' + ${#temporals.format(paseador.horarioDisponibleHasta, 'HH:mm a')}">
                            </td>
                            <td th:text="${paseador.provincia}"></td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a class="btn btn-sm btn-outline-primary text-decoration-none"
                                       role="button"
                                       th:href="@{/servicio_de_paseos/modificar/} + ${paseador.identificador}">Modificar</a>

                                    <a class="btn btn-sm btn-outline-danger text-decoration-none"
                                       role="button"
                                       th:href="@{/servicio_de_paseos/eliminar/} + ${paseador.identificador}">Eliminar</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- #region Footer -->
        <footer th:replace="~{layouts/footer :: footer}"></footer>
        <!-- #endregion -->
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </body>

</html>