<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- #region Bootstrap (import) -->
        <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <!-- #endregion -->
        <!-- #region Webpage Icon & Title -->
        <link rel="shortcut icon" type="image/svg" th:href="@{/images/pet_shop_favicon.svg}">
        <title>Servicio de paseos</title>
        <!-- #endregion -->
    </head>

    <body>
        <!-- #region Header -->
        <header th:replace="~{layouts/header :: header}"></header>
        <!-- #endregion -->
        <h1 class="titulo">Servicio de paseos</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Dia</th>
                    <th>Horario Paseo</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="servicios: ${servicios}">
                    <td th:text="${servicios.nombre}"></td>
                    <td th:text="${servicios.apellido}"></td>
                    <td th:text="${servicios.dia}"></td>
                    <td th:text="${servicios.horario}"></td>
                </tr>
            </tbody>
        </table>
        <!-- #region Footer -->
        <footer th:replace="~{layouts/footer :: footer}"></footer>
        <!-- #endregion -->
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </body>

</html>