<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sucursales</title>
        <link rel="stylesheet" href="../static/css/estilos.css" />
    </head>
    <body>
        <div id="container">
            <!-- header -->
            <header id="inicio">
                <h1>Bienvenidos a la Página Web del Grupo 44</h1>
                <img
                    src="https://cdn.pixabay.com/photo/2022/09/24/19/47/dog-7477112_1280.png"
                    alt="Logo de presentacion"
                    title="Imagen de presentación"
                    width="100"
                />
            </header>

            <!-- Para mostrar una lista de productos en la página de "Productos", utilizar la etiqueta <ul> y dentro de ella, varias etiquetas <li>, cada una con la imagen y descripción de un producto. -->
            <nav>
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="productos.html">Productos</a></li>
                    <li><a href="consejos-salud.html">Consejos de salud</a></li>
                    <li>
                        <a href="servicio-paseos.html">Servicio de paseos</a>
                    </li>
                    <li><a href="sucursales.html">Sucursales</a></li>
                    <li><a href="contactanos.html">Contáctanos</a></li>
                </ul>
            </nav>

            <!-- inicio codigo sucursales -->
            <div class="sucursales">
                <h1>¡Encontrá la sucursal más cercana!</h1>
                <h2>
                    Actualmente contamos con 4 locales en Jujuy y Salta,
                    seguiremos creciendo con nuevas aperturas en el Norte
                    Argentino.
                </h2>

                <img
                    src="https://img.freepik.com/vector-gratis/marco-perros-sobre-fondo-blanco_53876-99295.jpg?w=740&t=st=1682266630~exp=1682267230~hmac=cc2f9246ace86745cc1098ee56e0db85dcf6bb0849c2089131c2c6e991cd1181
        "
                    alt="Fondo mascotas"
                    title="fondo mascotas"
                    width="400"
                    height="400"
                />
                <hr />
                <!-- seccion sucursales de Jujuy -->
                <div>
                    <img
                        src="../static/images/sucursales-jujuy.png"
                        alt="Sucursales Jujuy"
                        title="Imagen sucursales Jujuy"
                        style="height: 100%; width: auto"
                    />
                    <div>
                        <h3>CASA CENTRAL</h3>
                        <ul>
                            <li>Necochea N°65</li>
                            <li>3885557773</li>
                            <li>Lunes a sábados de 9 a 20hs</li>
                        </ul>
                    </div>
                    <div>
                        <h3>SUCURSAL ALTO COMEDERO</h3>
                        <ul>
                            <li>Patricias Argentinas 500</li>
                            <li>3886669988</li>
                            <li>Lunes a sábados de 9 a 20hs</li>
                        </ul>
                    </div>
                    <div>
                        <h3>SUCURSAL CHIJRA</h3>
                        <ul>
                            <li>Avenida Vicuña 78</li>
                            <li>3885557773</li>
                            <li>Lunes a sábados de 9 a 20hs</li>
                        </ul>
                    </div>
                </div>
                <!-- secciòn sucursales de Salta -->
                <div>
                    <img
                        src="../static/images/sucursales-salta.png"
                        alt="Sucursales Salta"
                        title="Imagen sucursales Salta"
                        style="height: 100%; width: auto"
                    />
                    <div>
                        <h3>SUCURSAL INDEPENDENCIA</h3>
                        <ul>
                            <li>Cordoba 24</li>
                            <li>3885224466</li>
                            <li>Lunes a sábados de 9 a 19hs</li>
                        </ul>
                    </div>
                </div>
            </div>

            <footer>
                <p>
                    Copyright © 2023 - Tienda Grupo 44 - Diseñado por Grupo 44 -
                    Jujuy - República Argentina
                </p>
                <a href="#inicio"
                    ><img
                        alt="volver al menu"
                        src="../static/images/arriba.png"
                        width="70"
                /></a>
                <img
                    src="https://cdn.pixabay.com/photo/2022/09/24/19/47/dog-7477112_1280.png"
                    alt="Logo de presentacion"
                    title="Imagen de presentación"
                    width="100"
                />
            </footer>
        </div>
    </body>
</html>
